#######################################################################################################################################
# PADROES DE ENVIO PARA O GIT-HUB
#######################################################################################################################################
#
#
# SETUP HELLO PRINT v1.0.0.1626 [win 64x]
# D:\Desktop\extensao\Extensao HELLO PRINT\_SETUP\_REPOSITORIO\SETUP_HELLO_PRINT_POS_-_SETUP_v1.0.0.1626.exe
#
# 		git add --renormalize "SETUP_HELLO_PRINT_POS_-_SETUP_v1.0.0.1626.exe" && git commit -m "SETUP HELLO PRINT v1.0.0.1626 [win 64x]" && git push origin main && git status
#
#
#
# HELLO SERVER v8.3.4.0
# D:\Desktop\extensao\Extensao HELLO PRINT\_SETUP\_REPOSITORIO\extensao\HELLO_SERVER.exe
#
# 		git add "extensao/HELLO_SERVER.exe" && git commit -m "HELLO SERVER v8.3.4.0" && git push origin main && git status
#
#
#######################################################################################################################################
# Os arquivos a seguir, não serão enviados:







NOTAS.txt




